vendor/
/twig_cache/*
/bower_components/
/node_modules/
/lib/
/css/bootstrap.css
style.css
/js/bower.js
/js/bower.min.js
.idea/*

# docker stuff
# don't track compose.yml, this is user supplied
docker/docker-compose.yml

# only track php in html dir
docker/encodebot/www/html/*
!docker/encodebot/www/html/*.php

# don't track wordpress assets
docker/wordpress/wp-content/*


# Grunt Deploy
.ftppass
sftpcache.json