vendor/
/twig_cache/*
/bower_components/
/node_modules/
/lib/
/css/bootstrap.css
style.css
/js/bower.js
/js/bower.min.js
.idea/*

# docker stuff
# don't track compose.yml, this is user supplied
jct_docker/docker-compose.yml
.env

# only track php in html dir, don't track dest files
jct_docker/encodebot/www/html/*
!jct_docker/encodebot/www/html/*.php
jct_docker/encodebot/www/dest/*
jct_docker/wordpress/wp-content/*


#don't track cache files
/tmp/*

# don't track wordpress assets
docker/wordpress/wp-content/*


# Grunt Deploy
.ftppass
sftpcache.json