{% extends "base.twig" %}

{% block content %}
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div data-slick='{"slidesToShow": 3, "slidesToScroll": 1}' class="slick-element">
			{% for tile in showcase_tiles %}
				<div class="joco-promo">{{ tile.title }}</div>
			{% endfor %}
			<div class="joco-promo">Something</div>
			<div class="joco-promo">Something else</div>
			<div class="joco-promo">Something entirely different</div>
			<div class="joco-promo">Something sweet</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
	</div>
	<div class="hidden-xs col-sm-4">
		<div>E4M</div>
		<div><script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script><script type="text/javascript"> window.cashmusic.embed('https://cashmusic.org/public','6959');</script></div>
		<div>Social media links</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}