{% extends "base.twig" %}

{% block content %}
	<div class="col-xs-12">
	<h2>{{foo}}</h2>
	<p>{{qux}}</p>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	</div>
{% endblock %}