{% extends "base.twig" %}

{% block content %}
	<div class="col-xs-12 col-sm-10">
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] with {'post': posts|first} %}
	</div>
	<div class="hidden-xs col-sm-2">
		<div>E4M</div>
		<div>Twitter</div>
		<div>Social media links</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}