{% include 'html-header.twig' %}
	{% block head %}
    {% endblock %}
    </head>

    <body class="{{body_class}}" data-template="base.twig">
        <div class="container">
            This is the music admin page!
        </div>
    </body>
</html>